header {
    background-color: rgb(24, 24, 24);
    display: flex;
}

body {
    background-color: black;
    color: white;
}

#title {
    padding: 10px;
}

.infodiv {
    background-color: rgb(28, 28, 28);
    padding: auto;
}

#npm-logo {
    padding: 20px;
}

#buttonslist {
    button {
        background-color: orange;
        display: block;
        border: none;
        padding: 14px 28px;
        text-align: center;
        font-size: 16px;
        color: white;
    }
}

body {
    font-family:Arial, Helvetica, sans-serif;
}